---
import type { Product } from "../../../data/products";
import ProductCard from "../card/ProductCard.astro";

export interface Props {
	similarProducts: Product[];
}

const { similarProducts } = Astro.props;
---

<div class="bg-[var(--cajas)] rounded-xl p-4">
	<div class="flex items-center gap-3 mb-6">
		<div
			class="w-10 h-10 bg-[var(--accent-color-soft)]/10 rounded-lg flex items-center justify-center"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="text-primary-soft"
				><path
					stroke="none"
					d="M0 0h24v24H0z"
					fill="none"
				></path><path
					d="M3 8v4.172a2 2 0 0 0 .586 1.414l5.71 5.71a2.41 2.41 0 0 0 3.408 0l3.592 -3.592a2.41 2.41 0 0 0 0 -3.408l-5.71 -5.71a2 2 0 0 0 -1.414 -.586h-4.172a2 2 0 0 0 -2 2z"
				></path><path
					d="M18 19l1.592 -1.592a4.82 4.82 0 0 0 0 -6.816l-4.592 -4.592"
				></path><path d="M7 10h-.01"></path></svg
			>
		</div>
		<div>
			<h3 class="text-lg font-semibold text-[var(--text-color)]">
				Productos Relacionados
			</h3>
			<p class="text-xs text-[var(--text-color-soft)]">
				Productos similares que te pueden interesar
			</p>
		</div>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
		{
			similarProducts.length > 0 &&
				similarProducts.map((similarProduct) => (
					<ProductCard product={similarProduct} />
				))
		}
	</div>
</div>
