---
import IconLabel from "./IconLabel.astro";
import ThemeToogle from "../theme/ThemeToogle.astro";

const currentPath = Astro.url.pathname;
---

<aside class="flex flex-col h-screen">
	<div class="flex flex-col gap-4 flex-1">
		<!--inicio-->
		<div class="">
			<IconLabel
				href="/"
				text="Inicio"
				isActive={currentPath === "/"}
				nameIcon="adm"
				activeBgClass="bg-gradient-to-r from-sky-400 to-blue-600"
			/>

			<IconLabel
				href="/primeros-pasos"
				text="Primeros pasos"
				isActive={currentPath === "/primeros-pasos"}
				nameIcon="primerosPasos"
				activeBgClass="bg-gradient-to-r from-sky-400 to-blue-600"
			/>
			<IconLabel
				href="/comunidad"
				text="Comunidad"
				isActive={currentPath.startsWith("/comunidad")}
				nameIcon="comunidad"
				activeBgClass="bg-gradient-to-r from-sky-400 to-blue-600"
			/>
		</div>

		<!--catalogo-->
		<div class="">
			<IconLabel
				href="/catalogo"
				text="Catálogo"
				isActive={currentPath === "/catalogo" ||
					currentPath.startsWith("/catalogo/")}
				nameIcon="tienda"
				activeBgClass="bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500"
			/>
			<IconLabel
				href="/tienda"
				text="Productos"
				isActive={currentPath.startsWith("/tienda")}
				nameIcon="productos"
				activeBgClass="bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500"
			/>
			<IconLabel
				href="/favoritos"
				text="Mis Favoritos"
				isActive={currentPath.startsWith("/favoritos")}
				nameIcon="favoritos"
				activeBgClass="bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500"
			/>
		</div>


		<!--nutricion y entrenamiento-->
		<div class="">
			<IconLabel
				href="/nutricion"
				text="Nutricion"
				isActive={currentPath.startsWith("/nutricion")}
				nameIcon="nutricion"
				activeBgClass="bg-gradient-to-r from-lime-600 to-green-600"
			/>
			<IconLabel
				href="/entrenamiento"
				text="Entrenamiento"
				isActive={currentPath.startsWith("/entrenamiento")}
				nameIcon="entrenamiento"
				activeBgClass="bg-gradient-to-r from-lime-600 to-green-600"
			/>
		</div>

		<!--variantes-->
		<div class="">
					<IconLabel
						href="/variantes-acrobaticas"
						text="Variantes"
						isActive={currentPath.startsWith("/variantes-acrobaticas")}
						nameIcon="variantes"
						activeBgClass="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
					/>
		</div>
	</div>
</aside>

<footer class="p-0 flex flex-col gap-4">
	<div class="p-2.5 w-full justify-center items-center flex">
		<ThemeToogle />
	</div>
</footer>
