---
import Layout from "../layouts/Layout.astro";

import CatalogoFather from "../components/tienda/catalogo/CatalogoFather.astro";
---

<Layout title="Catálogo 2025">
	<section class="mb-4">
		<CatalogoFather />
	</section>
</Layout>
