---
import Layout from "../layouts/Layout.astro";
import FavoritosFather from "../components/tienda/favoritos/FavoritosFather.astro";
---

<Layout title="Mis Favoritos - Acrobata de Mente">
	<FavoritosFather />
	<div class="h-10"></div>
</Layout>
