---
import MainLayout from "../components/layouts/MainLayout.astro";
import Mantenimiento from "../components/ui/mantenimiento.astro";
---

<MainLayout title="adm - Servicios Globales">
	<section class="p-4">
		<h1 class="text-2xl font-extrabold">Feedback</h1>
		<p class="text-sm text-gray-500">
			Esta es la página de feedback.
		</p>
        <Mantenimiento />
	</section>
</MainLayout>
