---
import Mantenimiento from "../components/ui/mantenimiento.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/ui/HeroSection.astro";
---

<Layout title="ADM - Nutrici贸n">
	<!-- Hero Section -->
	<section>
		<HeroSection
			colorHero="bg-gradient-to-r from-lime-800 to-green-600"
			heroTitle="Nutrici贸n"
			paragraph="Alimentaci贸n saludable para tu bienestar!"
			heroParagraph="Alimentaci贸n saludable para tu bienestar!"
			heroImage="catalogo"
		/>
	</section>

	<section>
		<Mantenimiento />
	</section>
</Layout>
