---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/ui/HeroSection.astro";
import ProductsFather from "../components/tienda/productos/ProductsFather.astro";
---

<Layout title="Tienda - Acrobata de Mente">
	<!-- Hero Section -->
	<section>
		<HeroSection
			colorHero="bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500"
			heroTitle="Productos"
			heroParagraph="Aparatos, iluminación, sonido y más!"
			heroImage="catalogo"
		/>
	</section>
	<div class="mt-4 mb-4">
		<ProductsFather />
	</div>
</Layout>
