---
import Layout from "../layouts/Layout.astro";

import Variantes from "../components/variantesAcrobaticas/Variantes.astro";
---

<Layout title="Variantes Acrobáticas - Blog">
	<section class="">
		<Variantes />
	</section>
</Layout>
