---
import Tooltip from "../Tooltip.astro";

interface Props {
	href: string;
	svg: string;
	tooltipText: string;
	tooltipPosition:
		| "top"
		| "bottom"
		| "left"
		| "right"
		| "top-start"
		| "top-end"
		| "bottom-start"
		| "bottom-end"
		| "left-start"
		| "left-end"
		| "right-start"
		| "right-end";
}

const { href, svg, tooltipText, tooltipPosition } = Astro.props;
---

<div class="group relative items-center">
	<a href={href}>
		<span set:html={svg} />
	</a>
	<Tooltip
		text={tooltipText}
		position={tooltipPosition}
	/>
</div>
