---
import IndexHero from "./indexHero.astro";
import IndexBackground from "./indexBackground.astro";
---

<section class="relative min-h-screen overflow-hidden">
	<IndexBackground />

	<div class="absolute inset-0 flex items-center justify-center">
		<IndexHero />
	</div>
</section>
