---
interface Props {
	svg: string;
	tooltip: string;
	href: string;
}

const { svg, tooltip, href } = Astro.props;

import Tooltip from "../ui/Tooltip.astro";
---

<div class="relative group hover:text-[var(--text)]/50 transition-colors">
	<a
		href={href}
		aria-label={tooltip}
	>
		<div set:html={svg} />
	</a>

	<!-- Tooltip -->
	<Tooltip
		text={tooltip}
		position="top"
	/>
</div>


