---
import { imgRutas } from "../../data/productosImgRutas";

interface Props {
	colorHero: string;

	heroTitle: string;
	heroParagraph: string;
	heroImage: string;
}

const { colorHero, heroTitle, heroParagraph, heroImage } = Astro.props;
---

<!-- Hero Section -->
<section class="relative overflow-hidden rounded-b-xl">
	<div
		class={`${colorHero} h-32 flex items-center justify-center`}
	>
		<!-- Fondo decorativo con overlay -->
		<div
			class="absolute inset-0 opacity-10 bg-cover bg-center"
			style={`background-image: url(${imgRutas.hero[heroImage as keyof typeof imgRutas.hero].src})`}
		>
			<div class="absolute inset-0 bg-[var(--text-color)]/30"></div>
		</div>
		<div class="relative w-full px-4 text-center">
			<h1 class="text-2xl md:text-4xl font-bold tracking-tight mb-2 md:mb-4 text-white">
				{heroTitle}
			</h1>
			<p
				class="text-sm md:text-base font-bold text-white max-w-2xl mx-auto"
			>
				{heroParagraph}
			</p>
		</div>
	</div>
</section>
